body{
    font-family: Arial, Helvetica, sans-serif;
}

/*---------- navnar --------*/

.pre-nav{
    background-color: black;
    height: 50px;
}

.fa-chevron-down{
    font-size: 15px;
    color: #999;
    padding-left: 5px;
}

.nav-fixed{
    position: fixed;
    width: 100%;
}

.sony{
    color: white;
    padding: 3px;
    font-size: 30px;
    margin: 0;
}

ul > li{
    padding: 0 10px;
}

.button{
    border-width: 2px;
    border-radius: 20px;
}

.nav-button{
    background-color: #333;
}

.nav-button:hover{
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.search{
    margin-left: 20px; 
}

.search > img{
    width: 40px;
    height: 40px;
    padding: 0 5px;
}

.nav-hide{
    height: 120px;
}

/*-------------- jumbo returnal -------------*/

.jumbo-bg-returnal{
    background: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: contain no-repeat;
    height: 650px;
}

.jumbo-returnal,
.jumbo-adventure{
    width: 400px;
    height: 500px;
    color: white;
}

.returnal-logo{
    width: 200px;
    height: 50px;
    margin: 250px 0 0 50px;
}

.jumbo-button{
    background-color: red;
}

.jumbo-button:hover{
    box-shadow: inset 0px 0px 0px 2px #000;
}

.jumbo-returnal > h1,
.jumbo-returnal > p,
.jumbo-returnal > button{
    margin: 30px 0 30px 50px;

}

.small-photo-jumbo:hover{
    transform: translate( 0, -15%);
}

.small-photo-jumbo{
    width: 100%;
    border-radius: 20px;
}

.jumbo-returnal-border{
    border: 3px rgb(0, 162, 255) solid;

}

.jumbo-border-space{
    padding: 3px;
}

/*---------------- end jumbo returnal ----------------*/
/*------------------- console --------------------*/

.cyan-text{
    color: rgb(0, 162, 255);
}

.console{
    width: 500px;
}

.console-button:hover{
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.console-border{
    border-bottom: 3px rgb(0, 162, 255) solid;
    padding: 1px;
}

.opacity{
    opacity: 0.5;
}

.opacity:hover{
    opacity: 1;
}

.small-photo-console,
.small-photo-social,
.small-photo-sale{
    width: 60%;
}

/*-------------------- end console ---------------------*/
/*--------------------- jumbo adventure ----------------------*/
.jumbo-bg-adventure{
    background: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: contain no-repeat;
    height: 750px;
}

.adventure-logo{
    width: 250px;
    margin: 150px 0 0 20px;
}

.jumbo-adventure > h1,
.jumbo-adventure > p,
.jumbo-adventure > button{
    margin: 20px 0 20px 50px;
}

.grey{
    background: #333;
}

.small-photo-adventure,
.small-photo-ps4{
    width: 100%;
}

.text-white{
    color: white;
}

/*------------------ end jumbo adventure ----------------*/
/*-------------------- playstation 4 ----------------------*/

.trademark-size{
    font-size: 20px;
    display: inline-block;
}

.text-grey{
    color: #666;
}

.small-photo-ps-plus{
    width: 350px;
}

/*-------------------- end playstation 4 ----------------*/
/*------------------------ play plus -----------------------*/

.light-grey{
    background-color: rgb(190, 190, 190);
}

.button-light-grey{
    background-color: rgb(235, 235, 235);
    border: 0;
}

.button-light-grey:hover{
    box-shadow: inset 0px 0px 0px 2px #fff;
}

/*---------------------- end play plus ----------------------*/
/*-------------------- sale -----------------------*/


/*------------------------ end sale ----------------------*/
/*-------------------------- play now ---------------------------*/

.blue{
    background-color: rgb(0,0,50);
}

.white{
    background-color: white;
}

/*---------------------- end play now --------------------*/
/*----------------------- social --------------------*/


/*----------------------- end social ---------------------*/
/*------------------------ footer ---------------------*/

footer{
    background-color: rgb(31, 31, 161);
    color: white;
}

.logo-play-white{
    margin-top: 80px;
}

.logo-play-white > img{
    width: 100px;
}

.lista-footer > ul{
    list-style: none;
    line-height: 2;
}

.sony-footer{
    margin-top: 80px;
}

.sony-footer > img{
    width: 150px;
}

.testo-footer{
    width: 620px;
}

.testo-sottolineato{
    text-decoration: underline;
}

