body{
    font-family: Arial, Helvetica, sans-serif;
}

/*---------- navnar --------*/

.pre-nav{
    background-color: black;
    height: 50px;
}

.sony{
    color: white;
    padding: 3px;
    font-size: 30px;
    margin: 0;
}

ul > li{
    padding: 0 15px;
}

.button{
    border-radius: 20px;
}

.grey{
    background-color: #333;
}

.search{
    margin-left: 20px; 
}

.search > img{
    width: 40px;
    height: 40px;
    padding: 0 5px;
}

/*-------------- jumbo -------------*/


.jumbo-bg{
    background: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: contain no-repeat;
    height: 650px;
}

.jumbo{
    width: 400px;
    height: 500px;
    color: white;
}
.returnal-logo{
    width: 200px;
    height: 50px;
    margin: 250px 0 0 30px;
}

.red{
    background-color: red;
}

.jumbo > h1,
.jumbo > p,
.jumbo > button{
    margin: 30px;
}

.small-photo{
    width: 180px;
    height: 90px;
    border-radius: 20px;
}

/*---------------- fine jumbo ----------------*/
/*------------------- consol --------------------*/